@font-face {
  font-family: nordic;
  src: url("fonts/"Norse-Bold.otf");
}

* {
  margin: 2px;
  padding: 2px;
}

body {
  background: whitesmoke;
  display: flex;
}

.left-page {
  background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.left-page img {
  width:  104px;
  height: 104px;
}

.right-page {
  height: 100vh;
}

.odin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.odin-container p {
  color: white;
  font-family: nordic;
}

.form-container {
  display: flex;
  background: white;
  box-shadow: 0px 2px 2px 0px grey;
}

.left-box {
  display: flex;
  flex-direction: column;
}

.right-box {
  display: flex;
  flex-direction: column;
}

a:link, a:visited {
  color: darkgreen;
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: darkgreen;
}
